# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
*.egg-info
.installed.txt
lib/
lib64/
parts/
sdist/
var/
wheels/
*.whl
*.mo

# Miscellaneous
*.orig
*.log
.coverage
.tox/
.env

# virtualenv
venv/
.venv/